body{
	font-family:'Calibri';
	padding: 0 !important;
}


/** fold  INICIO **/

#fold{
	background-image: url("fondo.png");
	background-size: cover;
}

.header,
.header-responsive{
	transition: all 0.5s ease;
}

.logo-scroll,
.menu-icon{
	opacity: 0;
}

.logo-scroll img{
	width: 120px;
}

.menu-icon img{
	width: 30px;
    margin-left: 20px;
}

.menu-icon:focus{
	border: 10px solid red;
}

.telefono{
	display: flex;
	justify-content:flex-end;
	align-items:center;
	padding: 10px 0;
}

.telefono p{
	margin: 0 10px 0;
	color: white;
}

.telefono h3{
	margin: 0;
	color: white;
	font-weight: bold;
}

/** fold  FIN **/

/** HOME INICIO **/

/** HOME IZQUIERDA INICIO **/

.home{
	padding-top: 70px;
}

.home-izquierda{
    padding: 30px 0;
}

.logo{
	display: flex;
	align-items:flex-end;
}

.contenedor-logo {
	padding-left: 0;
}

.logo img{
	width: 105%;
	padding: 0;
}

.respaldo{
	display: flex;
	align-items:center;
	padding: 0;
}

.respaldo img{
	width: 100px;
	height: 100%;
}

.respaldo p{
	margin: 0 5px 0;
	font-size: 14px;
	color: white;
}

.home-izquierda-content h1{
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-top: 40px;
}

.home-izquierda-content h5{
	font-size: 18px;
	margin-bottom: 36px;
	color: white;
}

.home-izquierda-content h3{
	font-size: 24px;
	color: white;
}

.home-izquierda-content p{
	margin:10px 0 20px;
	font-size: 16px;
	color: white;
	display: block;
}

.input-telefono,
.poner-telefono {
	padding: 0;
}

.poner-telefono{
	display: flex;
    align-items: center;
}

.poner-telefono .form-control{
	border-radius: 5px;
	height: 40px;
	text-align: center;
	font-size: 16px;
	background: white;
	color: black;
}

.poner-telefono .form-control:focus{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	border: 1px solid #ccc;
}

.boton-llamar{
	padding: 0;
	position: relative;
}

.btn-llamar{
	width: 100%;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	border: 1px solid #ec624a;
	margin: 5px 0;
	color: white;
	margin-left: 10px;
	background-color: #EB6149;
}

.brands-seguro{
    margin:0;
    padding: 0;
}

.brands-seguro a{
	text-decoration: none;
}

.brands-seguro img{
	width: 80px;
	transition: all 0.5s ease;
    margin: 10px 0;
    margin-right: 15px;
}

.brands-seguro .on{
	filter: brightness(0) invert(1)
}

.brands-seguro .on:hover{
	filter: brightness(1) invert(0)
}



.brands-seguro a:hover img.logo-blanco {
  opacity: 0;
 }

.logo-blanco{
	position: absolute; 
}
.brands-seguro a{
display: -webkit-inline-box;
}

.brands-seguro a img {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.brands-seguro a:hover .logo-color {
  opacity: 1;
}
.brands-seguro a .logo-color {
  left: 0;
  top: 0;
  opacity: 0;
}

/** HOME IZQUIERDA FIN **/

/** HOME DERECHA INICIO **/

.home-derecha{
	border-radius: 10px;
	background-color: rgba(194,86, 67, .9);
	padding: 50px 0 ;
	margin: 30px 0;
}

.home-derecha h3{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	font-size: 30px;
}

.home-derecha p{
	color: white;
	text-align: center;
	margin-top: -7px;
	margin-bottom: 30px;
	font-size:20px;
}

/****** datos botones tab ******/

.datos-tab{
	display: flex;
	justify-content:center;
	margin: 10px 0;	
	border: 0;
}

.datos{
	margin: 0 10px;
}

.nav-tabs>li.active>a{
	border-radius: 30px;
	background-color: white;
	color: #c25643;
	font-size: 16px;
	padding: 10px 10px;
}

.nav-tabs>li.active>a:hover{
	color: #c25643;
}

.nav-tabs>li.active>a>span{
	background: #e0604c;
	text-align: center;
	border-radius: 20px;
	color: white;
	padding: 6px 10px;
}

.nav-tabs>li>a{
	border-radius: 30px;
	background-color: #cf624c;
	color: white;
	font-size: 16px;
	padding: 10px 10px;
}

.nav-tabs>li>a:hover{
	background-color: #cf624c;
	border: 0;
}

.nav-tabs>li>a>span{
	background: #c25643;
	text-align: center;
	border-radius: 20px;
	color: white;
	padding: 6px 10px;
}

.opciones{
	border-bottom: 1px solid white !important;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
    margin: 10px 0;
    padding: 0;
}

.contenedor-opciones{
	display: flex;
	justify-content:center;
}

.opciones:focus{
	box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
}

.opciones option{
	color: black;
}

.boton-terminar{
	text-align: center;
	margin-top: 16px;
}

.btn-terminar{
	border-radius: 20px;
	font-size: 18px;
	background-color: #ededed;
	color: #EB6149;
	padding: 5px 20px;
    border: 0;
    font-weight: bold;
 }

.tab-content form{
	margin: 30px 0;
	padding: 0 50px;
}

.tab-content .form-group{
	margin: 20px 0;
}

.tab-content .form-control{
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid white;
	background-color: transparent;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
	color: white;
}



.home-derecha .form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.home-derecha .form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.home-derecha .form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.home-derecha .form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.home-derecha .form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.boton-encontrar{
	text-align: center;
	margin:10px 0 24px;
}

.btn-encontrar{
	padding: 6px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #EB6149;
    text-transform: uppercase;
}

.btn.focus, .btn:focus, .btn:hover{
	color: white;
}


.region{
	padding:0;
}

.region p{
	font-size: 14px;
	text-align: left;
	margin: 10px 0 !important;
}

.region label{
	color: white;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
	margin: 0;
}
/****** datos botones tab ******/
/** HOME DERECHA FIN **/




/** MARCAS AUTOS INICIO**/

#marcas-autos{
	padding: 50px 0;
	position: relative;
}

#marcas-autos::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    clear: both;
}

#marcas-autos p{
	font-size: 18px;
	margin-bottom: 20px;
}

.brands a{
	text-decoration: none;

}

.brands img{
	margin: 10px 30px;
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   filter: grayscale(100%);
   transition: all 0.5s ease;
}

.brands img:hover {
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
 }

/** MARCAS AUTOS FIN**/

/*** COMO FUNCIONA ***/

#como-funciona{
	padding: 30px 0;
	background: #DADADA;
}

#como-funciona h3{
	font-size: 30px;
	font-weight: 700;
	color: #3E2830;
	margin:50px 0;
}

#como-funciona img{
	width: 120px;
}

#como-funciona p{
	width: 200px;
	background: white;
	margin: -12px auto 40px;
	padding: 20px 0;
    border-radius: 10px;
}


/*** COMO FUNCIONA FIN ***/

/***  BENEFICIOS-EXPERIENCIA INICIO ***/


#beneficios-experiencia{
	padding: 150px 0 100px;
    background-image: url("fondo-beneficios.png");
	background-size: cover;
}

.beneficios-titulo h3{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	color: white;
	margin-bottom: 70px
}

.beneficios{
	display: flex;
	align-items:center;
}

.arrow-left img{
	width: 50px;
	height: 70px;
	margin: 0 22px;
}

.beneficios-izquierda h4{
	font-size: 24px;
	color: white;
}

.beneficios-izquierda p{
	font-size: 18px;
	color: white;
}

.btn-descargar{
	margin: 20px 0;
	color: white;
	width: 140px;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	border: 1px solid #ec624a;
	background-color: #EB6149;
}

.beneficios-derecha{
	font-size: 18px;
	color: white;
}

.beneficios-icono img{
	margin-bottom: 10px
}

.beneficio-texto h3{
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-top: 60px;
}

.beneficio-texto p{
	width: 700px;
	margin:0 auto;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
	color: white;
}

/*** BENEFICIOS-EXPERIENCIA FIN***/

/*** INCIO- call2action ***/

#call2action{
	background-color: #3E2830;
}

.call2action-container{
	display: flex;
	justify-content:center;
	align-items:center;
	padding: 60px;
}

.call2action-container h3{
	font-size: 20px;
	color: white;
	text-align: right;
	margin: 0;
}

.call2action-container img{
	width: 30px;
}

.btn-cotizar{
	color: white;
	width: 100%;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	border: 1px solid #ec624a;
	background-image: url("fondo-boton.gif");
	background-size: cover;
}

.btn-cotizar:hover{
	color: white;
}

.btn-cotizar:focus{
	background-image: url("fondo-boton.gif");
	background-size: cover;
	color: white;
	border: 0;
}

/*** FIN - call2action ***/

/*** INICIO - FAQ ***/

#faq{
	height: 930px;
	background-image: url("familia.png");
	background-size: cover;
	background-position: center center;
}

#faq h4{
	font-size: 28px;
	font-weight: 600;
	color: #3b2c33;
	padding-top: 60px;
}

#MainMenu p{
	padding: 20px;
	background-color: white;
	border-radius: 6px;
}

.pregunta{
	border-radius: 6px;
	margin: 10px 0;
	font-size: 16px;
}

.list-group-item:first-child {
	border-radius: 6px;
}

.fa-caret-down{
	float: right;
	padding-top: 4px;
}

.panel{
	background-color: transparent;
}

.boton-fijo{
		position: fixed;
		right: 0;
		top: 200px;
		opacity: 0;

}
.escalar{
	transition: all 0.5s ease;
	transition: all .2s ease-in-out;
	font-size: 40px !important;
	background: transparent;
    border: 0;
    padding: 0;
}

.escalar:hover {
	transform: scale(1.1);
}
/*** FIN - FAQ ***/

.modal{
	background-color: rgba(47, 39, 44 ,.95);
}

.modal-header{
	border-bottom: 0;
	padding-top: 32px;
}

.modal-content .home-izquierda{
	padding: 100px 0;
	height: -webkit-fill-available;
}

.modal-content{
	background-color: transparent;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	border: 0;
}

.modal-dialog{
	width: -webkit-fill-available;
	margin: 0;
}

.modal-content .btn-llamar{
	width: 170px;
	margin: 0;
}

.modal-content p{
	margin:10px;
}

.modal-content .home-izquierda {
    margin: 0;
}

.btn-modal{
	border: 0;
	background-color: transparent;
}

.green{
	background: #00B24F;
}


/* modal  menu */

.menumodal li{
	list-style: none;
	text-align: right;
	margin: 40px 0;
}

.menumodal a{
	font-size: 24px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.menumodal a:hover{
	color: #EB6149;
}

.centrar{
	display: flex;
	justify-content:center;
}







@media screen and (max-width: 992px){

#fold{
	background-image: url("web_720_01.jpg");
	background-size: cover;
    background-position: center right;
    background-position-y: -78px;
}

.home{
	padding-top: 0;
}

.home-izquierda{
	text-align: center;
	margin-top: 40px;
}

.logo{
	display: inline-block;	
	text-align: center;
}

.logo img{
	width: 250px;
}

.respaldo{
	margin-top: 30px;
	justify-content: center;
}

.respaldo img{
	width: 140px;
}

.home-izquierda-content p{
		font-size: 20px;
}

.poner-telefono {
	justify-content:center;
}

.home-derecha{
	background-color: rgba(194,86, 67, 1);
}

.responsive{
	display: flex;
    justify-content: center;
    align-items: center;

}

.brands-seguro{
	text-align: center;
}

.brands-seguro img {
	margin: 10px 4px;
}

.brands img {
    margin: 10px 30px;
}

.brands-arriba,
.brands-abajo{
	display: flex;
    justify-content: center;
    align-items: center;
}

.brand-1{
	width: 75px;
}

.brand-2{
	width:100px;
}

.responsive img{
	position: inherit;
}

#como-funciona p{
	margin:10px 0 10px -8px;
}

#beneficios-experiencia{
	padding: 40px 0;
	background-image: url("web_720_02.jpg");
	background-size: 100%;
}

#beneficios-experiencia h3{
	margin-bottom: 50px;
	font-size: 32px;
}

.beneficios{
	display:inline-block;
}

.beneficios{
	text-align: center;
}

.arrow-down{
	display: inline-block;
}

.arrow-down img{
	width: 60px;
}

.beneficios h4,
.beneficios p {
	text-align: center;
}

.beneficios-izquierda{
	text-align: center;
}

.beneficios-icono{
	margin-top: 40px;
}

.beneficio-texto h3{
	margin-top: 40px;
}

.beneficio-texto p{
	width: auto;
}

.boton-cotizar{
	padding-left: 0;
}

.contenedor-texto{
	padding: 0;
}

.contenedor-texto h3{
	font-size: 12px;
}
.logo-responsive{
	width: 70%;
	opacity: 0;
}

.call-responsive,
.menu-responsive,
.cotiza-responsive{
	opacity: 0;
}

.menu-responsive{
	display: flex;
}

.menu-responsive img{
	width: 30px;
}

.cotiza-responsive{
	width: 100%;
}

#faq{
	background-image: url("familia_Movil.png");
	background-size: cover;
}

.modal-content .home-izquierda {
	padding: 0;
}


@media screen and (max-width: 768px){
	.home-derecha{
	border-radius: 0;
	margin-bottom: 0;
	min-height: calc(100vh - 65px);
}

	.brands img {
   	 margin: 10px 2px;
   	}

   	.nav-tabs>li>a {
   		font-size: 14px;
   	}

   	.nav-tabs>li.active>a{
   		font-size: 14px;
   	}
	
	.telefono h3{
		padding-right: 20px;
	}

}

@media screen and (max-width: 471px){
	.beneficios-derecha p{
		font-size: 12px;
	}
	.logo-responsive{
		width: 100%;
	}
}

