html, body{
	height: 100%;
}
a{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.flotante-wrapper{
	position: fixed;
	z-index: 5;
	left: 0;
	right: 0;
	top: 30px;
}
.flotante{}
.flotante .col-izq{
	position: absolute;
	margin-right: 20px;
}
.flotante .logo-asegura{
	height: 86px;
	background: #EB6149;
	position: absolute;
	right: 0;
	left: -1500px;
	border-radius: 0 8px 8px 0;
}
.flotante .logo-asegura:after{
	content: '';
	position: absolute;
	background: url(images/logo-asegura.png) right top no-repeat;
	display: block;
	width: 128px;
	height: 48px;
	right: 0;
	top: 19px;
	margin-right: 65px;
}
.flotante .logo-asegura-fake{
	height: 95px;
}
.flotante .menu-prin{
	text-align: right;
}
.flotante .menu-prin .menu-text{
	color: #eb624a;
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: top;
	position: relative;
	top: 8px;
	padding-right: 4px;
}
.flotante .menu-prin .menu-boton{
	display: inline-block;
	background: transparent;
	position: relative;
	padding: 10px 7px 5px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.flotante .menu-prin .menu-boton span.bb{
	display: block;
	width: 23px;
	height: 3px;
	background: #eb624a;
	margin-bottom: 4px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.flotante .menu-prin.on .menu-boton,
.flotante .menu-prin .menu-boton:hover{
	background: #eb624a;
}
.flotante .menu-prin.on .menu-boton span.bb,
.flotante .menu-prin .menu-boton:hover span.bb{
	background: #fff;
}
.flotante .menu-prin .menu-desple{
	display: none;
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
	padding-left: 45px;
}
.flotante .menu-prin .menu-desple ul{
	list-style: none;
	margin: 0;
	padding: 0;
	background: url(images/fondo-blanco.png) 0 0 repeat;
	border-radius: 8px;
	padding: 8px 10px 7px;
}
.flotante .menu-prin .menu-desple ul li{
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-size: 14px;
	margin-bottom: 5px;
}
.flotante .menu-prin .menu-desple ul li a{
	color: #464646;
}
.flotante .menu-prin .menu-desple ul li a:hover,
.flotante .menu-prin .menu-desple ul li a:focus,
.flotante .menu-prin .menu-desple ul li a:active{
	color: #eb624a;
	text-decoration: none;
}
.flotante .menu-prin.on .menu-desple{
	display: block;
}
.flotante .intro-formu{
	margin-top: 0;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 15px;
}
.flotante .formu{}
.flotante .formu .coco1{
	padding-right: 7px;
}
.flotante .formu .coco2{
	padding-left: 7px;
}
.flotante .formu .form-group{
	margin-bottom: 2px;
}
.flotante .formu label{
	font-weight: normal;
	font-size: 12px;
	color: #474b51;
	margin-bottom: 0;
	line-height: 1.3;
}
.flotante .formu input.form-control, .flotante .formu select.form-control{
    height: auto;
    padding: 4px 10px;
    border: 1px solid #EB634B;
    border-radius: 5px;
    font-size: 13px;
}
 
.flotante .formu input.form-control:focus{
	-webkit-box-shadow: 0 0 10px -5px rgba(235,99,75,2);
	box-shadow: 0 0 10px -5px rgba(235,99,75,2);
}
.flotante .formu .checkbox{
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 15px;
}
.flotante .formu .checkbox input{
	position: relative;
	top: 3px;
}
.flotante .formu .cotizar{
	height: auto;
	padding: 0px 18px 2px;
	font-size: 24px;
	/*background: url(images/fondo-boton-gris.gif) 0 center repeat-x;*/
	background: url(images/fondo-boton.gif) 0 center repeat-x;
	/*border: 2px solid #8d8d8d;*/
	border: 2px solid #FC9A88;
	border-radius: 4px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	width: 100%;
}
/*.flotante .formu .cotizar:hover{
	background: url(images/fondo-boton.gif) 0 center repeat-x;
	border: 2px solid #FC9A88;
}*/
.flotante .formu .cotizar:hover{
	-moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.flotante .menu-movil-wrapper{
	position: fixed;
	z-index: 4;
	right: 0;
	top: 0;
	left: 0;
}
.flotante .menu-movil{}
.flotante .menu-movil .navbar.navbar-default{
	background: #464646;
	border: 0 none;
	min-height: auto;
}
.flotante .menu-movil .navbar-toggle{
	margin: 0;
	padding: 22px;
	border: 0 none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.flotante .menu-movil .navbar-toggle:hover,
.flotante .menu-movil .navbar-toggle:focus {
    background-color: #eb624a;
}
.flotante .menu-movil .navbar-collapse{
	position: absolute;
	background: #f0f0f0;
	padding: 0;
	margin: 0;
	left: 20px;
	right: 20px;
	-webkit-box-shadow: 3px 3px 6px -4px #000000;
	box-shadow: 3px 3px 6px -4px #000000;
	border: 0 none;
}
.flotante .menu-movil .navbar-collapse ul{
	padding: 15px 4px;
	margin: 0;
}
.flotante .menu-movil .navbar-collapse ul li{
}
.flotante .menu-movil .navbar-collapse ul li a{
	color: #464646;
	font-size: 18px;
	padding: 14px 18px;
}
.flotante .menu-movil .navbar-collapse ul > li > a:hover,
.flotante .menu-movil .navbar-collapse ul > li > a:focus{
    color: #eb624a;
    background-color: #fff;
}
.flotante .menu-movil .logo-movil{
	background: url(images/logo-asegura-m.png) 0 0 no-repeat;
	width: 95px;
	height: 35px;
	display: inline-block;
	margin: 11px 0 0 18px;
}
.flotante .menu-movil .link-c{
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	float: right;
	margin: 18px 20px 0 0;
}
.flotante .menu-movil .link-c:focus,
.flotante .menu-movil .link-c:active,
.flotante .menu-movil .link-c:hover{
	text-decoration: none;
	color: #eb624a;
}
.inicio-wrapper{
	background: url(images/fondo-home-d.jpg) left bottom fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100%;
}
.inicio{
	padding-top: 50px;
	padding-bottom: 300px;
}
.logos{
	overflow: hidden;
}
.logos a{
    display: inline-block;
    position: relative;
    margin-right: 35px;
    max-width: 75px;
}
.logos a img{
	width: 100%;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.logos a img.on{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.logos a:hover{}
.logos a:hover img.off{
	opacity: 0;
}
.logos a:hover img.on{
	opacity: 1;
}
.telf{
	color: #eb624a;
	text-align: center;
	line-height: 1.2;
	padding-left: 65px;
	border-left: 1px solid #eb624a;
}
.telf .txt{
	font-size: 16px;
}
.telf .num{
	font-size: 26px;
	font-weight: bold;
}
.inicio .intro{
	font-size: 31px;
	line-height: 1.3;
	padding-top: 100px;
	margin-bottom: 30px;
}
.inicio .intro strong{
	font-size: 37px;
}
.inicio .asesoramos{
	text-align: center;
	line-height: 1.3;
}
.inicio .asesoramos .ase-1,
.faq .asesoramos .ase-1{
	font-size: 26px;
}
.inicio .asesoramos .ase-1 strong,
.faq .asesoramos .ase-1 strong{
	text-transform: uppercase;
}
.inicio .asesoramos .ase-2,
.faq .asesoramos .ase-2{
	font-size: 14px;
	line-height: 1.4;
}
.inicio .asesoramos input.telefono,
.faq .asesoramos input.telefono{
	border: 1px solid #eb634b;
	background: #fff;
	text-align: center;
	padding: 1px 12px;
	height: auto;
	font-size: 22px;
	border-radius: 11px;
	margin-top: 12px;
}
.inicio .asesoramos input.telefono:focus,
.faq .asesoramos input.telefono:focus{
    -webkit-box-shadow: 0 0 10px -5px rgba(235,99,75,2);
	box-shadow: 0 0 10px -5px rgba(235,99,75,2);
}
.inicio .asesoramos .enviar,
.faq .asesoramos .enviar{
	background: url(images/fondo-boton.gif) 0 center repeat-x;
	border: 2px solid #fc9a88;
	border-radius: 4px;
	font-size: 34px;
	padding: 4px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.inicio .asesoramos .enviar:hover,
.faq .asesoramos .enviar:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 2px 2px 6px -3px #000000;
	box-shadow: 2px 2px 6px -3px #000000;
}
.funciona-wrapper{}
.funciona{
	padding-top: 80px;
	padding-bottom: 140px;
}
.funciona h2{
	color: #464646;
	font-size: 45px;
	border-bottom: 2px solid #eb624a;
	margin-bottom: 70px;
}
.funciona h2 span{
	position: relative;
	top: 22px;
	background: #fff;
	padding: 0 14px;
}
.funciona .pasos{}
.funciona .pasos p{
	font-size: 14px;
	color: #898989;
	line-height: 1.3;
}
.funciona .paso{
	margin-bottom: 22px;
}
.funciona .paso img{}
.broker-wrapper{
	background: #ececec;
	overflow: hidden;
}
.broker-wrapper .barra-gris{
	background: #464646;
	height: 100px;
}
.broker{
	padding-top: 140px;
}
.broker h2{
	margin: 0;
	position: relative;
	color: #fff;
	font-size: 45px;
	padding: 12px 0px 15px 90px;
	background: #58cfb2;
	border-radius: 12px 0 0 0;
}
.broker h2 span{
	position: relative;
	z-index: 1;
}
.broker h2:before{
	border-radius: 10px 0 0 10px;
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	top: 0;
	right: -5000px;
	background: #464646;
	z-index: 0;
}
.broker .bloque-verde{
	position: relative;
	float: left;
}
.broker .bloque-verde:after{
	content: '';
	display: block;
	position: absolute;
	background: #58cfb2;
	left: 15px;
	top: 0;
	bottom: 0;
	right: -5000px;
	z-index: 0;
}
.broker .bloque-verde:before{
	position: absolute;
	z-index: 1;
	width: 319px;
	height: 338px;
	background: url(images/fondo-verde.png) 0 bottom;
	-webkit-background-size: cover;
	background-size: cover;
	left: 100px;
	bottom: 0;
}
.broker .bloque-verde-content{
	position: relative;
	z-index: 2;
	text-align: right;
	padding-top: 85px;
	padding-bottom: 200px;
}
.broker .bloque-verde-content p{
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 18px;
}
.faq-wrapper{
	background: #fff9de url(images/fondo-faqs.jpg) right bottom fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100%;
}
.faq{
	padding-top: 50px;
	padding-bottom: 80px;
}
.faq h2{
	font-size: 24px;
	color: #363636;
	font-weight: 500;
	margin-bottom: 25px;
	margin-top: 75px;
}
.faq .faq-lista{}
.faq .faq-item{
	background: url(images/fondo-blanco.png) 0 0 repeat;
	margin-bottom: 6px;
	font-size: 14px;
	line-height: 1.3;
	border-radius: 8px;
}
.faq .faq-item.activo{}
.faq .faq-q{
	background: #fff;
	padding: 7px 25px 7px 13px;
	border-radius: 8px;
	position: relative;
	line-height: 1.2;
	cursor: pointer;
}
.faq .faq-q:before{
	content: '+';
	position: absolute;
	right: 14px;
	top: 4px;
	color: #959595;
	font-weight: 300;
	font-size: 21px;
}
.faq .faq-q:hover:before{
	color: #e45a42;
}
.faq .faq-a{
	display: none;
	padding: 10px 13px;
}
.faq .faq-item.activo .faq-q:before{
	content: '-';
	font-size: 25px;
	top: 0px;
	right: 16px;
	color: #e45a42;
}
.faq .faq-item.activo .faq-a{
	/*display: block;*/
}
.faq .asesoramos{
	padding-top: 117px;
}
.aseso-m-wrapper{
	background: url(images/fondo-home-m.jpg) left bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 100%;
}
.aseso-m{
	padding-bottom: 40px;
}
.aseso-m .asesoramos{
	text-align: center;
	line-height: 1.3;
	padding-left: 25px;
	padding-right: 25px;
}
.aseso-m .asesoramos .ase-1{
	font-size: 22px;
	margin-bottom: 3px;
}
.aseso-m .asesoramos .ase-1 strong{
	text-transform: uppercase;
}
.aseso-m .asesoramos .ase-2{
	font-size: 14px;
	line-height: 1.4;
}
.aseso-m .asesoramos input.telefono{
	border: 1px solid #eb634b;
	background: #fff;
	text-align: center;
	padding: 1px 12px;
	height: auto;
	font-size: 19px;
	border-radius: 11px;
	margin-top: 20px;
	margin-bottom: 22px;
	max-width: 230px;
	margin-left: auto;
	margin-right: auto;
}
.aseso-m .asesoramos input.telefono:focus{
    -webkit-box-shadow: 0 0 10px -5px rgba(235,99,75,2);
	box-shadow: 0 0 10px -5px rgba(235,99,75,2);
}
.aseso-m .asesoramos .enviar{
	background: url(images/fondo-boton.gif) 0 center repeat-x;
	border: 2px solid #fc9a88;
	border-radius: 4px;
	font-size: 28px;
	width: 230px;
	padding: 4px 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.aseso-m .asesoramos .enviar:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-box-shadow: 2px 2px 6px -3px #000000;
	box-shadow: 2px 2px 6px -3px #000000;
}
.aseso-m .asesoramos .txt-1{
	font-size: 18px;
	margin-bottom: 4px;
}
.aseso-m .asesoramos .txt-2{
	font-weight: bold;
	color: #EB624A;
	font-size: 26px;
}

@media screen and (min-width: 1200px) {
	#boxes .window {width:606px; height:399px;}
	#boxes #dialog {width:606px; height:399px;}
	.call2{font-size: 24px; height: 347px; width: 464px; line-height: 31.69px;
	margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;}
	#boxes2 .window2 {width:606px; height:399px;}
	#boxes2 #dialog2 {width:606px; height:399px;}
	.call5{font-size: 24px; height: 347px; width: 464px; line-height: 31.69px;
	margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;}

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#boxes .window {width:606px; height:399px;}
	#boxes #dialog {width:606px; height:399px;}
	.call2{font-size: 24px; height: 347px; width: 464px; line-height: 31.69px;
	margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;}
	#boxes2 .window2 {width:606px; height:399px;}
	#boxes2 #dialog2 {width:606px; height:399px;}
	.call5{font-size: 24px; height: 347px; width: 464px; line-height: 31.69px;
	margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;}
	

	.logos a {
	    margin-right: 30px;
	}
	.telf {
	    padding-left: 35px;
	}
	.flotante .logo-asegura::after {
	    margin-right: 45px;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
	.call{width: 150px; height: 150px;}
	.call img{width: 100%;}
	#boxes .window {width:100%; height:199px;}
	#boxes #dialog {width:100%; height:199px;}
	.call2{font-size: 14px; height: 187px; width: 80%; line-height: 15.69px;
	margin: 12px 0  0 60px;
	padding: 12px 14px 12px 74px;}
	#boxes2 .window2 {width:100%; height:199px;}
	#boxes2 #dialog2 {width:100%; height:199px;}
	.call5{font-size: 14px; height: 187px; width: 80%; line-height: 15.69px;
	margin: 12px 0  0 60px;
	padding: 12px 14px 12px 74px;}

	.logos a {
	    margin: 0 20px;
	}
	.telf {
	    padding: 0;
	    border: 0 none;
	    width: 100%;
	    padding-top: 30px;
	}
	.inicio .intro{
		padding-top: 50px;
	}
	.flotante .intro-formu {
	    font-size: 15px;
	}
	.flotante .logo-asegura::after {
	    margin-right: 20px;
	}
	.flotante .formu .coco1 {
	    padding-right: 15px;
	}
	.flotante .formu .coco2 {
	    padding-left: 15px;
	}
	.funciona {
	    padding-bottom: 180px;
	}
	.funciona .paso img {
		width: 100%;
		height: auto;
	}
	.broker .bloque-verde:before {
	    width: 133px;
	    height: 143px;
	    background: url(images/fondo-verde-movil.png) 0 0 no-repeat;
	    right: 25px;
	    left: auto;
	}
	.broker .bloque-verde-content {
	    text-align: left;
	}
	.faq h2 {
	    margin-top: 45px;
	}
}

@media screen and (max-width: 767px) {
	.call{width: 150px; height: 150px;}
	.call img{width: 100%;}
	#boxes .window {width:100%; height:199px;}
	#boxes #dialog {width:100%; height:199px;}
	.call2{font-size: 14px; height: 187px; width: 80%; line-height: 15.69px;
	margin: 12px 0  0 60px;
	padding: 12px 14px 12px 74px;}
	.call4{width: 150px; height: 150px;}
	.call4 img{width: 100%;}
	#boxes2 .window2 {width:100%; height:199px;}
	#boxes2 #dialog2 {width:100%; height:199px;}
	.call5{font-size: 14px; height: 187px; width: 80%; line-height: 15.69px;
	margin: 12px 0  0 60px;
	padding: 12px 14px 12px 74px;}

	.flotante-wrapper{
		background: url(images/fondo-home-m.jpg) left bottom no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		min-height: 100%;
	    position: relative;
	    top: 0;
	}
	.flotante .col-izq {
	    position: relative;
	    margin-right: 0;
	}
	.flotante .sup-m{
		padding-top: 75px;
		padding-bottom: 35px;
	}
	.flotante .formu label{
		font-size: 14px;
	}
	.flotante .formu > .row{
		margin-left: -10px;
		margin-right: -10px;
	}
	.inicio-wrapper{
		background: url(images/fondo-home-m.jpg) left bottom no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	.inicio {
		padding-top: 60px;
		padding-bottom: 0;
	}
	.inicio .intro {
	    font-size: 24px;
	    line-height: 1.3;
	    padding-left: 25px;
	    padding-right: 25px;
	    margin-bottom: 50px;
		padding-top: 40px;
	}
	.inicio .intro strong{
		font-size: 24px;
	}
	.inicio .logos{
		text-align: center;
		padding-bottom: 40px;
	}
	.inicio .logos a{
		margin: 0 20px 30px;
	}
	.logos a img.on {
		opacity: 1;
	}
	.logos a img.off {
	    opacity: 0;
	}
	#contacto{
		padding-top: 110px;
	}
	.inicio .asesoramos input.telefono,
	.faq .asesoramos input.telefono {
	    padding: 1px 12px;
	    height: auto;
	    font-size: 19px;
	    margin-top: 23px;
	    max-width: 240px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.inicio .asesoramos {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	.funciona{
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.funciona h2 {
	    color: #464646;
	    font-size: 25px;
	    font-weight: 500;
	    border-bottom: 0 none;
	    margin-bottom: 48px;
	}
	.funciona .pasos .col-sm-4{
	    margin-bottom: 45px;
	}
	.funciona .pasos p {
	    margin-left: 10%;
	    margin-right: 10%;
	}
	.broker-wrapper{
		background: #464646;
		min-height: 100%;
	}
	.broker{
		padding-top: 80px;
		margin-bottom: 40px;
		padding-left: 36px;
		padding-right: 36px;
		background: #58CFB2;
	}
	.broker h2{
		padding-left: 0;
		font-size: 24px;
	}
	.broker h2:before{
		display: none;
	}
	.broker .bloque-verde{
	}
	.broker .bloque-verde:after{
		display: none;
	}
	.broker .bloque-verde:before {
	    width: 133px;
	    height: 143px;
	    background: url(images/fondo-verde-movil.png) 0 0 no-repeat;
	    right: 25px;
	    left: auto;
	}
	.broker .bloque-verde-content{
		text-align: left;
		padding-top: 25px;
		padding-bottom: 140px;
	}
	.broker .bloque-verde-content p{
		line-height: 1.6;
	}
	.broker .bloque-verde-content p.txt-espe{}
	.broker .bloque-verde-content p.txt-espe strong{
		font-size: 18px;
		display: block;
	}
	.faq-wrapper{
		background-position: left top;
	}
	.faq{
		padding-bottom: 40px;
	}
	.faq h2{
	    font-size: 24px;
	    text-align: center;
	    font-weight: bold;
	    margin-bottom: 30px;
	    margin-top: 45px;
	}

}

#mask {
		position:absolute;
		z-index:9000;
		background-color:rgba(255,255,255,.49);
		display:none;
	}
#boxes .window {position:fixed; display:none; z-index:9999;}	

.call{float: left;}
.call2{
	background: #fff;
	border: 2px solid #eb644d;
	border-radius: 8px;
	box-shadow: 10px 8px 30px black;
	color: #363636;
	font-weight:300;
	/*margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;*/
	text-align:left;
}

.call3{font-weight: bold;}

#mask2 {
		position:absolute;
		z-index:9000;
		background-color:rgba(255,255,255,.49);
		display:none;
	}
#boxes2 .window2 {position:fixed; display:none; z-index:9999;}

.call4{float: left;}
.call5{
	background: #fff;
	border: 2px solid #eb644d;
	border-radius: 8px;
	box-shadow: 10px 8px 30px black;
	color: #363636;
	font-weight:300;
	/*margin: 22px 0  0 120px;
	padding: 39px 14px 39px 154px;*/
	text-align:left;
}
.call6{font-weight: bold;}